<!DOCTYPE html>
<html lang="ko" xmlns: th="https://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
</head>
<body>
<div id="wrap">
  <h3>로그인</h3>
  <hr>
  <!--action의 값이 동적(로그인 인터셉터 설정때문에)-->
  <form action="" th:method="post" th:object="${loginForm}">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
    </div>
    <div>
      <input type="text" name="email" placeholder="아이디" maxlength="50" th:field="*{email}">
      <span th:errors="*{email}"></span>
    </div>
    <div>
      <input type="password" name="passwd" placeholder="비밀번호" maxlength="12" th:field="*{password}">
      <span th:errors="*{passwd}"></span>
    </div>
    <div><button>로그인</button></div>
    <div><span><a href="">아이디 찾기</a></span><span><a href="">비밀번호찾기</a></span></div>
  </form>
</div>

</body>
</html>