<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="" th:href="@{/css/member/SignUpUser.css}" />
    <title>캠핑이지 일반회원가입</title>
    <script src="https://kit.fontawesome.com/4fab4e86c9.js" crossorigin="anonymous"></script>
    <script type="module" src="./common.js" th:src="@{/js/common.js}"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="up-l"></div>

      <!-- 최상단 메뉴(UPPERMOST) -->
      <div class="up">
        <a href="" th:href="@{/}" class="up__link">HOME</a>
        <th:block th:if="${!session.isEmpty()}">
          <a href="" th:href="@{/mypage}" class="up__link">마이페이지</a>
          <a href="" th:href="@{/login/logout}" class="up__link">로그아웃</a>
        </th:block>
        <th:block th:if="${session.isEmpty()}">
          <a href="" th:href="@{/signup}" class="up__link">회원가입</a>
          <a href="" th:href="@{/login}" class="up__link">로그인</a>
        </th:block>
      </div>

      <div class="up-r"></div>

      <div class="hd-l"></div>

      <!-- 헤더 (HEADER) -->
      <header class="hd">
        <div class="hd__menu-item">
          <a href="" th:href="@{/search}" class="link">검색ez</a>
          <a href="https://www.gocamping.or.kr/lms/" class="link">안전교육</a>
          <a href="" th:href="@{/sitemap}" class="link">사이트맵</a>
        </div>
        <div class="hd__logo-item">
          <a href="" th:href="@{/}" class="link">
            <i class="hd__logo fa-solid fa-house"></i>
            <h2>캠핑EZ</h2>
          </a>
        </div>
        <div class="hd__empty-item"></div>
      </header>

      <div class="hd-r"></div>

      <div class="gnb-l"></div>

      <!-- gnb영역 -->
      <nav class="gnb">
        <div class="gnb__gwangjang-submenu">
          <div><a href="" th:href="@{/community/bulletinBoard/1}" class="gnb__depth link">자유게시판</a></div>
          <div><a href="" th:href="@{/community/question/1}" class="gnb__depth link">질문게시판</a></div>
        </div>
        <div><a href="" th:href="@{/search}" class="link">검색ez</a></div>
        <div><p class="link">광장ez</p></div>
        <div><a href="https://www.gocamping.or.kr/lms/" class="link">안전교육</a></div>
      </nav>

      <div class="gnb-r"></div>
      <div class="mn-l"></div>

      <!-- 메인영역(MAIN) -->
      <main class="mn">
        <div>
          <h3 class="mn__head-line">캠핑장 회원 가입</h3>
        </div>
        <hr class="form-line" />
        <div class="form-info">
          <span>회원 정보 입력</span>
          <span><span style="color: red">*</span> 필수 입력 항목</span>
        </div>
        <form action="" class="sign-form" id="frm" method="post" th:object="${joinForm}">
          <hr class="form-line" />
          <div class="input-form">
            <label for="" class="form-label"><span style="color: red">*</span> 아이디</label>
            <div>
              <input type="text" class="input" th:field="*{mid}" />
              <p class="input-caution">대소문자를 구분하지 않는 영문자와 숫자를 포함한 20자 이내</p>
            </div>
            <input type="button" id="chkIdBtn" value="중복확인" class="dup-btn" />
          </div>
          <hr class="form-line" />
          <div class="input-form">
            <label for="" class="form-label"><span style="color: red">*</span> 비밀번호</label>
            <div>
              <input type="text" class="input" th:field="*{pw}" />
              <p class="input-caution">영문자(대소문자 구분), 숫자, 특수문자를 조합하여 8~16자 이내</p>
            </div>
          </div>
          <hr class="form-line" />
          <div class="input-form">
            <label for="" class="form-label"><span style="color: red">*</span> 비밀번호 확인</label>
            <input type="text" class="input" th:field="*{pwchk}" />
          </div>
          <hr class="form-line" />
          <div class="input-form">
            <label for="" class="form-label"><span style="color: red">*</span> 닉네임</label>
            <div>
              <input type="text" class="input" th:field="*{nickname}" />
              <p class="input-caution">한글 또는 영문자로 10자 이내</p>
            </div>
            <input type="button" id="chkNnBtn" value="중복확인" class="dup-btn" />
          </div>
          <hr class="form-line" />
          <div class="input-form">
            <label for="" class="form-label"><span style="color: red">*</span> 이름</label>
            <div>
              <input type="text" class="input" th:field="*{mname}" />
              <p class="input-caution">본인 이름이 아닐 시 이벤트 참여에 어려움이 있을 수 있습니다</p>
            </div>
          </div>
          <hr class="form-line" />
          <div class="input-form">
            <label for="" class="form-label"><span style="color: red">*</span> 이메일</label>
            <input type="email" class="input" th:field="*{email}" />
          </div>
          <hr class="form-line" />
          <div class="input-form">
            <label for="" class="form-label"><span style="color: red">*</span> 휴대전화번호</label>
            <input type="tel" class="input" th:field="*{phone}" />
          </div>
          <hr class="form-line" />
          <div class="input-form">
            <label for="" class="form-label">주소</label>
            <input type="text" class="input" th:field="*{maddress}" />
          </div>
          <hr class="form-line" />
          <div class="input-form">
            <label for="" class="form-label"><span style="color: red">*</span> 사업자등록번호</label>
            <input type="text" class="input" th:field="*{businessnumber}" placeholder=" - 포함 숫자 입력" />
            <button type="button" id="chkBizBtn" class="dup-btn">중복확인</button>
          </div>
          <div class="input-form">
            <label for="" class="form-label"><span style="color: red">*</span> 상호명</label>
            <input type="text" class="input" th:field="*{companyname}" />
          </div>
          <hr class="form-line" />
          <div class="input-form">
            <label for="" class="form-label">사업자등록번호</label>
            <input type="text" class="input" id="bno" placeholder=" - , 공백을 제외한 숫자만 입력" />
            <button type="button" class="dup-btn" id="chkBtn2">진위확인</button>
          </div>
          <div class="input-form">
            <label for="" class="form-label">대표자명</label>
            <input type="text" class="input" id="p_nm" />
          </div>
          <div class="input-form">
            <label for="" class="form-label">개업일자</label>
            <input type="text" placeholder="yyyymmdd" class="input" id="startDt" />
          </div>
          <hr class="form-line" />
          <div class="sign-btn">
            <button class="in-btn" id="btnAdd" type="submit">가입</button>
            <button class="cel-btn">취소</button>
          </div>
        </form>
        <hr class="line" />
      </main>

      <div class="mn-r"></div>

      <div class="ft-l"></div>

      <!-- 푸터영역(FOOTER)-->
      <footer class="ft">
        <div class="ft__logo-cell">
          <h2>캠핑EZ</h2>
        </div>
        <div class="ft__info-cell">
          <div class="ft__links">
            <a href="" class="link">개인정보취급방침</a>
            <a href="" class="link">홈페이지이용약관</a>
            <a href="" class="link">광고및제휴문의</a>
          </div>
          <div class="ft__others">
            <p>Copyrights(c) 2023 www.campingez.com. ALL RIGHTS RESERVED.</p>
            <p>TEL 010-1234-5678 (상담시간: 평일 10:00~18:00)</p>
            <p>E-MAIL : webmaster@testmail.com</p>
          </div>
        </div>
        <div class="ft__empty-cell"></div>
      </footer>

      <div class="ft-r"></div>
    </div>
    <script type="module">
      import { ajax } from '/js/common.js';
      let chk_id = null;
      let chk_nn = null;
      let chk_biz = null;
      let chk_biz2 = null;
      const $mid = document.getElementById('mid');
      const $biznum = document.getElementById('businessnumber');
      const $nickname = document.getElementById('nickname');
      const $chkIdBtn = document.getElementById('chkIdBtn');
      const $chkNnBtn = document.getElementById('chkNnBtn');
      const $chkBizBtn = document.getElementById('chkBizBtn');
      const $btnAdd = document.getElementById('btnAdd');
      const $pw = document.getElementById('pw');
      const $pwchk = document.getElementById('pwchk');
      const $mname = document.getElementById('mname');
      const $email = document.getElementById('email');
      const $phone = document.getElementById('phone');
      const $cname = document.getElementById('companyname');

      const $chkBtn2 = document.getElementById('chkBtn2');
      const businessTrulyRequestParm = {};

      const $bno = document.getElementById('bno');
      const $p_nm = document.getElementById('p_nm');
      const $startDt = document.getElementById('startDt');

      // 아이디 체크
      const chk = res => {
        if (res.header.rtcd == '00') {
          alert('사용 가능한 아이디 입니다.');
          chk_id = $mid.value;
        } else {
          alert('이미 사용 중인 아이디 입니다.');
          throw new Error(`${res.header.rtmsg}`);
        }
      };
      const chk_h = e => {
        const url = `http://localhost:9080/api/members/idchk/${$mid.value}`;
        const payload = {
          mid: $mid.value,
        };
        //유효성체크
        ajax
          .post(url, payload)
          .then(res => res.json())
          .then(chk); //.then(res => add(res))
      };

      // 닉네임 체크
      const nnchk = res => {
        if (res.header.rtcd == '00') {
          alert('사용 가능한 닉네임 입니다.');
          chk_nn = $nickname.value;
        } else {
          alert('이미 사용 중인 닉네임 입니다.');
          throw new Error(`${res.header.rtmsg}`);
        }
      };
      const nnchk_h = e => {
        const url = `http://localhost:9080/api/members/nnchk/${$nickname.value}`;
        const payload = {
          nickname: $nickname.value,
        };
        //유효성체크
        ajax
          .post(url, payload)
          .then(res => res.json())
          .then(nnchk); //.then(res => add(res))
      };

      // 사업자 체크
      const bizchk = res => {
        if (res.header.rtcd == '00') {
          alert('등록 가능한 사업자입니다.');
          chk_biz = $biznum.value;
        } else {
          alert('이미 등록된 사업자입니다.');
          throw new Error(`${res.header.rtmsg}`);
        }
      };
      const bizchk_h = e => {
        const url = `http://localhost:9080/api/members/bizchk/${$biznum.value}`;
        const payload = {
          businessnumber: $biznum.value,
        };
        //유효성체크
        ajax
          .post(url, payload)
          .then(res => res.json())
          .then(bizchk); //.then(res => add(res))
      };

      //사업자 진위확인
      function businessTrulyChk_h(e) {
        const key = 'bJ0AcEWnYARdHMe24EsPd77ralP%2BiRWLuhIeWgoIBgM%2F4dqlAgbS%2FilwgSiZkbkL9ojCBQHuEZI2TtoMqYzRhA%3D%3D';
        const returnType = 'JSON';
        const url = `http://api.odcloud.kr/api/nts-businessman/v1/validate?serviceKey=${key}&returnType=${returnType}`;
        const payLoad = {
          businesses: [{ ...businessTrulyRequestParm, b_no: $bno.value, start_dt: $startDt.value, p_nm: $p_nm.value }],
        };
        console.log(payLoad);

        const businessStatusChk = res => {
          console.log(res);
          if (res.status_code == 'OK') {
            switch (res.data[0].valid) {
              case '01': //Valid  유효
                if (chk_biz2 == true) {
                  return;
                }
                console.log('유효한 사업자');
                alert('유효한 사업자입니다.');
                chk_biz2 = $bno.value;
                break;
              case '02': //Invalid
                alert('유효하지 않은 사업자입니다.');
                throw new Error(`${res.data[0].valid_msg}`);
                break;
            }
          } else {
            throw new Error(`${res.description}`);
          }
        };
        ajax
          .post(url, payLoad)
          .then(res => res.json())
          .then(res => businessStatusChk(res))
          .catch(err => console.log(err.message));
      }

      const add_h = e => {
        const chk1 = $mid.value;
        const chk2 = $nickname.value;
        const chk3 = $biznum.value;
        const chk4 = $bno.value;
        const chk_pw = $pw.value;
        const chk_pwchk = $pwchk.value;
        if (chk_id == chk1 && chk_nn == chk2 && chk_biz == chk3 && chk_biz2 == chk4) {
          if (chk_pw == chk_pwchk) {
            if ($email.value != '' && $mname.value != '' && $phone.value != '' && $cname.value != '') {
              frm.submit();
            } else {
              alert('필수 항목을 입력 해주십시오.');
            }
          } else {
            alert('비밀번호가 일치하지 않습니다.');
          }
        } else {
          alert('중복확인이나 진위확인을 해주십시오.');
        }
      };

      $chkBtn2.addEventListener('click', businessTrulyChk_h, false);
      $btnAdd.addEventListener('click', add_h, false);
      $chkIdBtn.addEventListener('click', chk_h, false);
      $chkNnBtn.addEventListener('click', nnchk_h, false);
      $chkBizBtn.addEventListener('click', bizchk_h, false);
    </script>
  </body>
</html>
