@charset "UTF-8";
@import '/css/common/common.css';
@import 'myPageLayout.css';

.tab1 input[name='tab'],
.tab2 input[name='tab'] {
  display: none;
}
.tab1 input:nth-of-type(1):checked ~ tabBtn--label > label[for='tab1__1'],
.tab1 input:nth-of-type(2):checked ~ tabBtn--label > label[for='tab1__2'],
.tab1 input:nth-of-type(3):checked ~ tabBtn--label > label[for='tab1__3'],
.tab2 input:nth-of-type(1):checked ~ tabBtn--label > label[for='tab2__1'],
.tab2 input:nth-of-type(2):checked ~ tabBtn--label > label[for='tab2__2'],
.tab2 input:nth-of-type(3):checked ~ tabBtn--label > label[for='tab2__3'] {
  padding: 0.75%;
  background: var(--theme-color);
  color: var(--main-font-color);
  border-radius: 5%;
}
.tab1,
.tab2 {
  display: flex;
  align-items: center;
  margin: 1rem;
}
tabBtn--label {
  display: flex;
  width: 200%;
  align-items: center;
  justify-content: space-evenly;
}
.tab1__contant,
.tab2__contant {
  display: flex;
  justify-content: center;
}
.tab1__1__content,
.tab1__2__content,
.tab1__3__content,
.tab2__1__content,
.tab2__2__content,
.tab2__3__content {
  display: none;
  width: 200%;
}

/* 예약 관리 테이블 */
.reserv__table {
  width: 100%;
}
/* 예약 관리 타이틀 */
.reserv__title {
  background-color: rgb(218, 218, 218);
    border-bottom: 1px solid #222;
}
/* 예약 관리 테이블 hd*/
.reserv__th {
  padding:15px;
}
/* 예약 관리 테이블 td */
.reserv__campName {
  padding:15px;
}
/* 예약 내역이 없을때 */
.reserv__no-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
/* 예약 관리 내용물 -- 총 5개, 관리자 */
.reserv__item {
  text-align: center;
  border-bottom: 1px solid #bbb;
}
/* 예약 관리 페이지 버튼 칸 */
.reserv__page {
  display: flex;
  justify-content: center;
}

/* 예약 관리 페이지 버튼들 */
.reserv__pageBtn {
  border-radius: 15%;
  margin: 0.5vw;
  padding: 0.5vh;
}
/*회원 정보 폼*/
.member__form {
  display:flex;
  flex-direction: column;
  align-items: center;
}
/* 회원 정보 칸 */
.member__item {
  display: flex;
  justify-content: flex-start;
  width: 85%;
  height: 2.03vh;
  padding: 1rem;
  border-bottom: 1px solid #bbb;
}
/*회원 수정 버튼*/
.member__modify-btn {
  display:flex;
  justify-content:center;
  align-items:center;
  width: 60%;
  height: 2.03vh;
  padding: 3rem;
}
/* 회원 정보 제목 */
.member__title {
  width: 16%;
}
/* 회원 정보 내용 */
.member__main {
  width: 50%;
  margin: 0 5%;
  font-size: 0.95rem;
  height: 17px;
}
/* 회원수정 제약조건 알림 */
.member__patterns {
  font-size: 0.7rem;
}
/* 회원 탈퇴 */
.tab1__3__content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
/*회원 탈퇴 입력 버튼 아이템*/
.member__wthdrBTN-item {
   padding-top: 15px;
}
/* 회원 탈퇴 비밀번호 입력 버튼 */
.member__wthdr {
  width: 80%;
}
/* 회원탈퇴 확인 버튼*/
#member__wthdrBTN {
  width: 10vw;
  background:var(--theme-color-thin);
  border: 1px solid #aaa;
}
/* 회원 탈퇴 모달 창 */
.member__modal {
  display: none;
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: white;
}
/*회원탈퇴 모달 창 안쪽*/
.member__modal-inner {
  display:flex;
  flex-direction:column;
  gap:30px;
  padding:150px;
  outline:1px solid #bbb;
}
/* 멤버 모달 버튼창 */
.member__modal-btns {
  display:flex;
  justify-content: center;
  gap:20px;
}

/* 회원탈퇴 확인 */
.member__leave-confirm {
  text-align: center;
  padding: 60px;
}
/*탈퇴 메세지 출력 창*/
.member__leave-message {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:10px;
  font-size:0.9rem;
}
/*탈퇴 패스워드 입력*/
.member__leave-modal {
    display:flex;
    justify-content:center;
    padding:50px;
    text-align:center;
    line-height:30px;
}
/*비밀번호 입력*/
.member__leave-password {
    padding:30px;
    outline-color:#999;
    border-width:1px;
    outline-style:double;
}
/* 내 캠핑장 */
.tab2__1__content {
  flex-direction: column;
}
/*캠핑장 등록 버튼 칸*/
.myCamp__saveBtnItem {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
/*캠핑장 등록 버튼*/
.myCamp__saveBtn {
  padding: 5px;
}

/*캠핑장 삭제 버튼*/
.myCamp__delBtn {
    width: 50px;
}
/* 내 캠핑장 내용 */
.myCamp__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 18vh;
  padding: 25px;
  border-bottom: 1px solid #bbb;
}
/* 내 캠핑장 사진 */
.myCamp__Photo {
  object-fit: cover;
  height: 14vh;
  padding: 5px;
  outline-style: double;
  outline-color: #bbb;
}
/* 등록한 캠핑장이 없을 때 나오는 창 */
.myCamp__no-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
/* 내 캠핑장 페이지 버튼 칸 */
.myCamp__page {
  display: flex;
  justify-content: center;
}
/* 내 캠핑장 페이지 버튼들 */
.myCamp__pageBtn {
  border-radius: 15%;
  margin: 0.5vw;
  padding: 0.5vh;
}
/* 예약관리 테이블 */
.managerRev__table {
  width: 100%
}
/* 예약 관리 타이틀 */
.managerRev__title {
  background-color: rgb(218, 218, 218);
  border-bottom: 1px solid #222;
}
/* 예약관리 테이블 hd*/
.managerRev__th {
  padding:15px;
}
/* 예약 내역 관리에 들어온 예약이 없을 때*/
.managerRev__no-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
/* 예약 관리 내용물 -- 총 4개 */
.managerRev__item {
  text-align: center;
  border-bottom:1px solid #bbb;
}
/* 예약 관리 테이블 td */
.managerRev__num {
  padding: 15px;
}
/* 예약 관리 페이지 버튼 칸 */
.managerRev__page {
  display: flex;
  justify-content: center;
}

/* 예약 관리 페이지 버튼들 */
.managerRev__pageBtn {
  border-radius: 15%;
  margin: 0.5vw;
  padding: 0.5vh;
}
/* 첫 시작 화면 */
.tab1__2__content {
  display: block;
}

/*버튼 색*/
.theme-btn {
    background:var(--theme-color-thin);
    width: 80px;
    border: 1px solid #aaa;
}
.theme-btn:active {
    background:#999;
}