<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/email}" th:object="${MailForm}">
<!--  받는 사람 주소! -->
  <label for="toEmail">To:</label>
  <input type="email" id="toEmail" name="toEmail" th:value="${MailForm.toEmail}" required>
<!--  보내기! -->
  <button type="submit">Send Email</button>
</form>
<!-- 인증 번호 치는 곳! -->
<input type="text" id="inputCode" />
<!--  확인 버튼! 자바 스크립트에서 if 가 조건 만족하면 다음 단계로 넘어가게!  -->
<button onclick="codeChk()">확인</button>
<!--  숨겨진 칸. view에 표시는 안 되지만 인증 번호 검증을 위해 필요  -->
<input type="hidden" id="code" th:value="${MailForm.body}" />
<script>

function codeChk() {
if( (document.getElementById("inputCode").value) == document.getElementById("code").value){

alert("맞음 넘어가라")
}else{alert("틀림")}
};

</script>
</body>
</html>